<div class="main-container" *ngIf="employees.length > 0; else noEmployee">
  <div *ngFor="let level of treeLevels; let levelIndex = index">
    <span
      class="line line--h"
      *ngIf="levelIndex > 0"
      [@horizontalExpand]
    ></span>
    <div class="employee">
      <div class="employee__wrapper" *ngFor="let empId of level">
        <span
          class="line line--v"
          *ngIf="employeeMap.get(empId)?.managerId"
          [@expandLine]
        ></span>
        <mat-card
          [ngClass]="{
            active:
              employeeMap.get(empId)?.isExpanded &&
              employeeMap.get(empId)?.subordinates?.length !== 0
          }"
          (click)="toggleSubordinates(empId)"
          class="employee__card"
        >
          <mat-card-header class="employee__header">
            <img
              mat-card-avatar
              class="employee__image"
              [src]="employeeMap.get(empId)?.imageUrl"
            />
            <mat-card-title class="employee__name">{{
              employeeMap.get(empId)?.name
            }}</mat-card-title>
            <mat-card-subtitle class="employee__designation">{{
              employeeMap.get(empId)?.designation
            }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="employee__content">
            <p class="employee__email">
              Email: {{ employeeMap.get(empId)?.email }}
            </p>
            <p
              class="employee__email"
              *ngIf="employeeMap.get(empId)?.managerId"
            >
              Manager Id: {{ employeeMap.get(empId)?.managerId }}
            </p>
            <p class="employee__email">
              Subordinates:
              {{ employeeMap.get(empId)?.subordinates?.length || 0 }}
            </p>
          </mat-card-content>
          <mat-card-actions class="employee__actions">
            <button
              mat-flat-button
              color="primary"
              [disabled]="employeeMap.get(empId)?.subordinates?.length === 5"
              (click)="openAddSubordinateDialog(empId, $event)"
            >
              Add
            </button>
            <button
              mat-flat-button
              color="warn"
              [disabled]="employeeMap.get(empId)?.subordinates?.length !== 0"
              (click)="openRemoveDialog(empId, $event)"
            >
              Remove
            </button>
            <button
              mat-flat-button
              color="accent"
              [disabled]="employees.length <= 1"
              *ngIf="!employeeMap.get(empId)?.managerId"
              (click)="openChangeManagerDialog(empId, $event)"
            >
              Change
            </button>
          </mat-card-actions>
        </mat-card>
        <span
          class="line line--v"
          *ngIf="
            employeeMap.get(empId)?.isExpanded &&
            employeeMap.get(empId)?.subordinates?.length !== 0
          "
          [@expandLine]
        ></span>
      </div>
    </div>
  </div>
</div>

<ng-template #noEmployee>
  <div class="container">
    <button color="primary" mat-flat-button (click)="addEmployee()">
      Add Employee
    </button>
  </div>
</ng-template>
