.main-container {
  padding: 20px 10px;
}

.employee {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
  position: relative;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  &__card {
    width: 300px;
    background: #8ee9fbd7;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: #85e5f8;
      box-shadow: 0 10px 20px #00000026;
    }
  }

  &__actions {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-evenly;
  }
}

.line {
  &--h {
    width: 100%;
    height: 2px;
    background-color: #233034;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &--v {
    width: 2px;
    height: 20px;
    background-color: #233034;
  }
}
